@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffff;
  color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  background: #FFE17F;
  width: 1160px;
  margin: 0 auto;
}

.page-header-container {
  width: 1040px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
}

.menu-link-catalog {
  width: 293px;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 480px;
  margin-left: auto;
}

.menu-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-item-number {
  font-weight: 700;
  font-size: 180px;
  align-items: center;
  text-align: right;
}

.slider-item-content {
  display: flex;
  justify-content: space-between;
}

.slider-item-description {
  width: 560px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.info-text {
  color: #444444;
}

.info-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  background-color: #FFE17F;
}

.slider-item-option {
  font-size: 16px;
  color: #444444;
}

.slider-item-option-value {
  font-size: 36px;
}

.categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-item {
  width: 160px;
}

.categories-item-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.services {
  background: #F0F0F0;
}

.services-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.services-tab {
  width: 153px;
}

.services-item {
  height: 391px;
  width: 880px;
}

.services-item-info {
  width: 480px;
}

.services-item-delivery {
  background: url(../images/delivery.svg) no-repeat;
  background-position: bottom 150px right 66px;
}

.services-item-warranty {
  background: url(../images/warranty.svg) no-repeat;
  background-position: bottom 134px right 28px;
}

.services-item-credit {
  background: url(../images/credit.svg) no-repeat;
  background-position: bottom 146px right 34px;
}

.delivery-on-order {
  background: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
}

.delivery-on-order-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.about-us-info-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts {
  width: 532px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
}

.newsletter {
  background: #F0F0F0;
}

.newsletter-text {
  display: flex;
  justify-content: space-between;
}

.newsletter-slogan {
  width: 350px;
}

.newsletter-info {
  width: 560px;
}

.newsletter-button-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.footer-services-list {
  text-align: center;
}

.footer-services-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.footer-phone {
  color: inherit;
}

.footer-social-list {
  text-align: center;
}

.navigation-user-logout {
  opacity: 0.3;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item-link {
  text-decoration: none;
  color: inherit;
}

.catalog-products {
  background: #F0F0F0;
}

.catalog-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products {
  background: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-load-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination {
  background: #EBEBEB;
}

.pagination-control {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
